@model core22.Models.POS.Models.PurchaseOrder

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PurchaseOrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table" id="gridLine" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">SubTotal</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            initGridLine();
        });

        function initGridLine() {
            var purchaseOrderId = $("#PurchaseOrderId").val();

            $("#gridLine").DataTable({
                "ajax": {
                    "type": "GET",
                    "url": "/api/PurchaseOrderLine/GetLines?purchaseOrderId=" + purchaseOrderId + "",
                    "dataSrc": function (data) {

                        return data.lines
                    }
                },
                "columns": [
                    { "data": "product.name" },
                    { "data": "quantity" },
                    { "data": "price" },
                    { "data": "subTotal" },
                    { "data": "discount" },
                    { "data": "total" }
                ],
                "language": {
                    "emptyTable": "data is empty."
                },
                "lengthChange": false,
                "bFilter": false,
                "paging": false,
                "info": false
            });

            return false;
        }
    </script>
}
