@model core22.Models.POS.Models.GoodsReceive

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GoodsReceive</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsReceiveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GoodsReceiveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GoodsReceiveId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <input type="hidden" asp-for="GoodsReceiveId" />
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table" id="gridLine" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Qty. Purchase</th>
                    <th scope="col">Qty. Receive</th>
                    <th scope="col">Qty. Received</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            initGridLine();
        });

        function initGridLine() {
            var goodsReceiveId = $("#GoodsReceiveId").val();

            $("#gridLine").DataTable({
                "ajax": {
                    "type": "GET",
                    "url": "/api/GoodsReceiveLine/GetLines?goodsReceiveId=" + goodsReceiveId + "",
                    "dataSrc": function (data) {

                        return data.lines
                    }
                },
                "columns": [
                    { "data": "product.name" },
                    { "data": "qtyPurchase" },
                    { "data": "qtyReceive" },
                    { "data": "qtyReceived" }
                ],
                "language": {
                    "emptyTable": "data is empty."
                },
                "lengthChange": false,
                "bFilter": false,
                "paging": false,
                "info": false
            });

            return false;
        }
    </script>
}